.select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cdd2da;
    max-width: 150px;
    height: 44px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
}


.options {
    background-color: #fff;
    position: absolute;

    top: 55px;
    box-shadow: 0 2px 1px -1px rgba(20, 19, 19, 0.492), 0 1px 1px 0 rgba(20, 19, 19, 0.492), 0 1px 3px 0 rgba(20, 19, 19, 0.492);
    border-radius: 4px;
    padding: 8px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 50;
}

.option {
    padding: 10px 3px;
    transition: background .1s linear;
}

.option:hover {
    background: #cdd2da;
}