.header {
    padding: 20px 0;
    background: #3e454b;
    color: #fff;
}

.inner-header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
}

.right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.button {
    max-width: 100px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
    color: inherit;
    background-color: #fff;
    color: #3e454b;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 9px;
    transition: .1s ease;
}

.button:hover {
    box-shadow: 1px -1px 4px 1px #e0e0e0;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 653.98px) {
    .inner-header {
        flex-direction: column;
        justify-content: center;
    }

    .title {
        margin-bottom: 20px;
    }
}

@media (max-width: 333.98px) {
    .title {
        font-size: 27px;
    }
}